

.home-container{
  background-image: url("../../../public/leaf.png");
  background-position:  10rem 1rem ;
  background-size: contain;
  background-color: #FAF2E9;
  background-repeat: no-repeat;
  min-height: 82vh;
}


.grid-container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 90%;
  height: 100%;
  margin: auto;
}

.left-side-container{
 display: flex;
 align-items: center;
}

.right-side-container{
  border: 1px solid red;
  max-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.right-side-container img{
  max-height: 325px;
}



.title{
  font-size: 3.5rem;
  font-family: "Baskervville", serif;
  font-weight:bold;
  font-style: normal;
}

